<form action="/cart" method="POST">                
    <button type="submit" class="btn btn-warning">add to card</button>
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>