<header class="header">
        <nav class="header__nav">
            <ul class="header__nav-list container">
                <li class="header__nav-item <%= path==='/' ? 'active' : '' %>"> 
                    <a href="/" class="header__nav-link">shop</a>
                </li>
                <li class="header__nav-item <%= path==='/admin/add-product' ? 'active' : '' %>">
                    <a href="/add-product" class="header__nav-link">add product</a>
                </li>
            </ul>
        </nav>
    </header>