extends ./layouts/main-layout.pug
block style
    link(rel="stylesheet", href="css/style.css")
block content
    main
        br
        h3 ERROR! 404 brain not found.
        p please watch your link!



        