<%-include('./includes/header') %>
    
</head>
<body>
<%-include('./includes/navigation') %>
    <main class="error container">
        <h3>
            Something when wrong here
        </h3>
        <p>
            We'll try to fix that. Please comeback later!
        </p>
    </main>
<%-include('./includes/end') %>