extends layouts/main-layout.pug

block style
    link(rel="stylesheet", href="/css/style.css")

block content 
    main
        form.form(action="/add-product" method="post")
            h3 Add your file
            input.form__product(type="text" name="title" placeholder="add product")
            input.form__btn(type="submit")


        
