<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>add product</title>
    
</head>

<body>
    <header class="header">
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item">
                    <a href="/" class="header__nav-link">shop</a>
                </li>
                <li class="header__nav-item">
                    <a href="/add-product" class="header__nav-link">add product</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <form action="/add-product" method="POST" class="form">
            <h3>Add your file</h3>
            <input type="text" name="title" class="form__product" placeholder="adding something">
            <input type="submit" class="form__btn">
        </form>
    </main>
</body>

</html>