<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>add product</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item">
                    <a href="/" class="header__nav-link">shop</a>
                </li>
                <li class="header__nav-item">
                    <a href="/add-product" class="header__nav-link">add product</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="content">
            <h2 class="content__title">all list products</h2>
            <h3 class="content__text">List products...</h3>
        </div>
    </main>
</body>
</html>