.cart {
    margin-top: 4rem;
    margin-bottom: 2.5rem;

    &__heading {
        display: flex;
        align-items: center
    }

    &__title {
        font-size: 2rem;
        color: $primary-color;
        margin-right: auto;
    }

    &__number {
        font-size: 1.6rem;
        color: #444;
    }
}