.title{

    &--warning{
        color: orangered;
        padding: 30px;
        font-size: 2rem;
        font-weight: 100;
        text-transform: capitalize
    }
}

.active{
    a{        
        color: rgb(253, 204, 71) !important;
    }
}

.error{
    padding: 50px;
}

.toggleMenu{
    display: flex !important;
}

.activePopup{
    display: block !important;
}