*,*::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    margin: 0;
    padding: 0
}
body{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 3rem;
}

.header{
    background-color: #b93869;    
    &__nav{
        padding: 30px 0;
    }
    &__nav-list{
        display: flex;
        align-items: center;
    }
    &__nav-item{
        list-style: none;
        
    }
    &__nav-item:not(:last-child){
        margin-right: 3rem;
        
        @media only screen and (max-width: 999px){
            margin-right: 0 ;
            margin-bottom: 1rem;
        }
    }
    &__nav-link{
        &:link, &:visited{

            text-decoration: none;
            text-transform: uppercase;
            color: white;
        }
    }
    &__nav-link:hover{
        color: rgb(240, 190, 98);
    }
    &__left {
        margin-right: auto;
        display: flex;
        
        @media only screen and (max-width: 999px){
            flex-direction: column;
        }
    }
    &__right{
        display: flex;
        align-items: center;
        li{
            @media only screen and (max-width: 999px){
                margin-bottom: 0 !important;
                &:not(:last-child){
                    margin-right: 2rem;
                }
            }
        }
    }
    &__right-menu{
        display: flex;
        align-items: center;

        @media only screen and (max-width: 999px){
            display: none;
            flex-direction: column;
            margin-top: 1.2rem;
            align-items: flex-start;
        }
    }
    &__responsive{
        display: none;
        &-icon{
            font-size: 2rem;
            color: white;
            padding: 5px 8px;
            border-radius: 3px;
            border: 1px solid white;
        }
        @media only screen and (max-width: 999px){
            display: flex;
            cursor: pointer;
            color: rgb(250, 196, 214);
        }
    }

}
.content{
    padding: 30px 50px;
    &__title{
        text-transform: capitalize;
        color: #b93869;
        font-size: 30px;
    }
    &__text{
        font-size: 16px;
        color: #333;
    }
}

