.popup{
    background: rgba(0,0,0,.8);
    display: none;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    animation: fadeIn .5s ease-in;
    &__pannel{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #f06288;
        padding: 2rem 4rem;
        animation: scaleIn .5s .5s ease;
    }

    &__text{
        color: white;
        font-size: 1.5rem;
    }
}

@keyframes fadeIn{
    0%{
        opacity: .4;
    }
    100%{
        opacity: 1;
    }
}